<%= form_with(model: employee, html: { contents: true }) do |form| %>
  <%= render "shared/error_messages", object: employee %>

  <div class="grid grid-cols-1 grid-cols-2@md gap-4" 
       data-controller="dependent-select" 
       data-dependent-select-url-value="<%= select_options_departments_path %>">

    <div class="col-span-1">
      <%= form.label :first_name, class: "block font-medium mbe-1" %>
      <%= form.text_field :first_name, class: "input w-full p-2 border rounded" %>
    </div>
    
    <div class="col-span-1">
      <%= form.label :last_name, class: "block font-medium mbe-1" %>
      <%= form.text_field :last_name, class: "input w-full p-2 border rounded" %>
    </div>

    <div class="col-span-1">
      <label class="block font-medium mbe-1">Branch</label>
      <% 
         selected_branch_id = employee.department&.branch_id 
      %>
      <%= select_tag "branch_id", 
            options_from_collection_for_select(Branch.order(:name), :id, :name, selected_branch_id), 
            prompt: "Select Branch First",
            class: "input w-full p-2 border rounded cursor-pointer",
            data: { 
              dependent_select_target: "select", 
              action: "change->dependent-select#load" 
            } %>
    </div>
    
    <div class="col-span-1">
      <%= form.label :department_id, class: "block font-medium mbe-1" %>
      
      <%= turbo_frame_tag "department_options_frame", data: { dependent_select_target: "frame" } do %>
        
        <% 
           departments = if selected_branch_id
                           Department.where(branch_id: selected_branch_id).order(:name)
                         else
                           []
                         end
        %>
        
        <%= form.select :department_id, 
              options_from_collection_for_select(departments, :id, :name, employee.department_id),
              { prompt: "Select Branch to see Departments" },
              { class: "input w-full p-2 border rounded cursor-pointer" } %>
              
      <% end %>
    </div>
    
    <div class="col-span-1">
      <%= form.label :status, class: "block font-medium mbe-1" %>
      <%= form.select :status, Employee.statuses.keys.map { |k| [k.humanize, k] }, {}, { class: "input w-full p-2 border rounded cursor-pointer" } %>
    </div>
  </div>

  <div class="mbs-4 flex gap-3">
    <%= form.submit class: "btn bg-orange-400 text-white font-semibold rounded px-4 py-2" %>
    <%= link_to "Cancel", employees_path, class: "text-subtle", data: { turbo_frame: "_top" } %>
  </div>
<% end %>