<%= form_with(model: subnet, html: { contents: true }) do |form| %>
  <%= render "shared/error_messages", object: subnet %>

  <div class="grid grid-cols-1 grid-cols-2@md gap-4">
    <div class="col-span-1">
      <%= form.label :name, "Subnet Name", class: "block font-medium mbe-1" %>
      <%= form.text_field :name, class: "input w-full p-2 border rounded", placeholder: "e.g., Corporate Data" %>
    </div>
    <div class="col-span-1">
      <%= form.label :network_address, "CIDR Range", class: "block font-medium mbe-1" %>
      <%= form.text_field :network_address, class: "input w-full p-2 border rounded", placeholder: "e.g., 192.168.13.0/24" %>
    </div>
    <div class="col-span-1">
      <%= form.label :gateway, class: "block font-medium mbe-1" %>
      <%= form.text_field :gateway, class: "input w-full p-2 border rounded", placeholder: "e.g., 192.168.13.1" %>
    </div>
    <div class="col-span-1">
      <%= form.label :vlan_id, "VLAN ID", class: "block font-medium mbe-1" %>
      <%= form.number_field :vlan_id, class: "input w-full p-2 border rounded" %>
    </div>
  </div>

  <div class="mbs-4 flex items-center gap-3">
    <%= form.submit "Save Subnet", class: "btn bg-orange-400 text-white font-semibold rounded px-4 py-2" %>
    <%= link_to "Cancel", subnets_path, class: "text-subtle", data: { turbo_frame: "_top" } %>
  </div>
<% end %>