<tr id="<%= dom_id subnet %>">
  <td class="p-4 font-semibold"><%= link_to subnet.name, subnet, class: "text-orange-500 hover:text-orange-600", data: { turbo_frame: "_top" } %></td>
  <td class="p-4 font-mono text-sm"><%= subnet.network_address %></td>
  <td class="p-4 font-mono text-sm"><%= subnet.gateway %></td>
  <td class="p-4"><%= subnet.vlan_id %></td>
  <td class="text-end">
    <div class="flex items-center justify-end gap-4">
      <%= link_to "Edit", edit_subnet_path(subnet), class: "text-orange-600 hover:underline", data: { turbo_frame: "modal" } %>
      <%= button_to "Delete", subnet, method: :delete, class: "btn bg-white border border-red-200 text-red-600 font-semibold hover:bg-red-50", form: { data: { turbo_confirm: "Are you sure?" } } %>
    </div>
  </td>
</tr>