<% content_for :title, "Network Subnets" %>

<% content_for :page_header do %>
  <h4 class="font-semibold">Network Subnets</h4>
<% end %>

<% content_for :header_action_buttons do %>
    <%= link_to "Add Subnet", new_subnet_path,
                  class: "btn bg-orange-400 text-white font-semibold rounded-md p-2 show@md",
                  data: { turbo_frame: "modal" } %>
<% end %>

<div class="absolute hide@md" style="bottom: 10rem; right: 1rem; z-index: 9999">
  <%= link_to new_subnet_path, class: "btn bg-orange-400 text-white font-semibold rounded-full p-5", data: { turbo_frame: "modal" } do %>
    <span class="icon icon--pen"></span>
  <% end %>
</div>

<div class="p-4 i-full">

  <%= turbo_frame_tag :subnets_table do %>
    
    <%# --- DESKTOP VIEW: Table (Visible on medium screens and up) --- %>
    <div class="show@md relative i-full overflow-x-auto border rounded-md bg-surface">
      <table class="table i-full text-left">
        <thead class="bg-shade font-semibold">
          <tr>
            <th class="p-4"><%= sort_link(@search, :name, class: "font-semibold") %></th>
            <th class="p-4"><%= sort_link(@search, :network_address, "Network / CIDR", class: "font-semibold") %></th>
            <th class="p-4"><%= sort_link(@search, :gateway, class: "font-semibold") %></th>
            <th class="p-4"><%= sort_link(@search, :vlan_id, "VLAN", class: "font-semibold") %></th>
            <th class="p-4 text-end">Actions</th>
          </tr>
        </thead>
        <tbody id="subnets-table">
          <% if @subnets.empty? %>
            <tr><td colspan="7" class="text-center p-8">No Results.</td></tr>
          <% else %>
            <%= render @subnets %>
          <% end %>
        </tbody>
      </table>
    </div>

    <%# --- MOBILE VIEW: Cards (Hidden on medium screens and up) --- %>
    <div id="subnets-cards" class="hide@md flex flex-col gap-4">
      <% if @subnets.empty? %>
        <p class="text-subtle text-center p-8">No subnets found.</p>
      <% else %>
        <%= render partial: "subnets/subnet_card", collection: @subnets, as: :subnet %>
      <% end %>
    </div>

    <%= render "shared/pagination", pagy: @pagy %>
  <% end %>
</div>