<tr id="<%= dom_id device %>">
  <td class="p-4">
    <div class="font-bold"><%= device.name %></div>
    <div class="text-xs text-subtle"><%= device.device_type.humanize %></div>
  </td>
  <td class="p-4 text-sm">
    <div class="font-mono"><%= device.serial_number %></div>
    <div class="text-xs text-subtle">Tag: <%= device.asset_tag %></div>
  </td>
  <td class="p-4 font-mono text-sm text-sky-500">
    <%= device.ip_address&.address || "Unassigned" %>
  </td>
  <td class="p-4 text-sm">
    <% if device.employee %>
      <%= device.employee.first_name %> <%= device.employee.last_name %>
      <div class="text-xs text-subtle"><%= device.department.name %></div>
    <% else %>
      <span class="text-subtle italic">In Stock</span>
    <% end %>
  </td>
  <td class="p-4 text-xs font-semibold uppercase"><%= device.status %></td>
  <td class="flex gap-4 items-center justify-end p-4 text-end">
    <%= button_to "Delete", device, method: :delete, class: "btn bg-white border border-red-200 text-red-600 font-semibold rounded px-4 py-2 hover:bg-red-50", form: { data: { turbo_confirm: "Are you sure? This will release the IP." } } %>
    <%= link_to "Edit", edit_device_path(device), class: "text-orange-600 hover:underline", data: { turbo_frame: dom_id(device) } %>
  </td>
</tr>