<tr id="<%= dom_id(device, :table_row) %>">
  <td class="p-4">
    <div class="font-semibold"><%= link_to (device.name.presence || "Nil"), device, class: "text-orange-500 hover:text-orange-600", data: { turbo_frame: "_top" } %></div>
    <div class="text-xs text-subtle"><%= device.device_type&.humanize.presence || "Nil" %></div>
  </td>
  <td class="p-4 text-sm">
    <div class="font-mono"><%= device.serial_number.presence || "Nil" %></div>
    <div class="text-xs text-subtle"><span class="font-semibold">Tag:</span> <%= device.asset_tag.presence || "Nil" %></div>
  </td>
  <td class="p-4 font-mono text-sm text-sky-500">
    <%= device.ip_address&.address.presence || "Nil" %>
  </td>
  <td class="p-4 text-sm">
    <%= device.employee&.full_name.presence || "Owner: Nil" %>
    
    <div class="text-xs text-subtle">
      <span class="font-semibold">Department:</span> 
      <% if device.department %>
        <%= device.department.branch.name %> (<%= device.department.name %>)
      <% else %>
        Nil
      <% end %>
    </div>
  </td>
  <td class="p-4 text-xs font-semibold uppercase"><%= device.status.presence || "Nil" %></td>
  <td class="text-end">
    <div class="flex items-center justify-end gap-4">
      <%= link_to "Edit", edit_device_path(device), class: "text-orange-600 hover:underline", data: { turbo_frame: "modal" } %>
      <%= button_to "Delete", device, method: :delete, class: "btn bg-white border border-red-200 text-red-600 font-semibold hover:bg-red-50", form: { data: { turbo_confirm: "Are you sure?" } } %>
    </div>
  </td>
</tr>