<%# Network Card %>
<div class="card bg-white shadow-sm">
<h3 class="font-bold text-lg mbe-4 border-be pbe-2 flex items-center gap-2">
    <span class="icon icon--globe"></span> Network
</h3>
<% if @device.ip_address %>
    <div class="text-center p-4 bg-green-50 border border-green-100 rounded-md">
        <div class="font-mono text-2xl font-bold text-green-700 mbe-1"><%= @device.ip_address.address %></div>
        <div class="text-sm text-green-600"><%= @device.ip_address.subnet.name %></div>
    </div>
<% else %>
    <div class="text-center p-4 bg-gray-50 border border-dashed rounded text-subtle">
        No IP Address Assigned
    </div>
<% end %>
</div>

<%# Mac Address Card %>
<div class="card bg-white shadow-sm">
<h3 class="font-bold text-lg mbe-4 border-be pbe-2 flex items-center gap-2">
    <span class="icon icon--monitor"></span> MAC ADDR
</h3>
<% if @device.ip_address %>
    <div class="text-center p-4 bg-blue-50 border border-blue-100 rounded-md">
        <div class="font-mono text-2xl font-bold text-blue-700 mbe-1"><%= @device.mac_address %></div>
    </div>
<% else %>
    <div class="text-center p-4 bg-gray-50 border border-dashed rounded text-subtle">
        No MAC Address Assigned
    </div>
<% end %>
</div>

<%# Owner Card %>
<div class="card p-6 border rounded bg-white shadow-sm">
<h3 class="font-bold text-lg mbe-4 border-be pbe-2 flex items-center gap-2">
    <span class="icon icon--user"></span> Assignment
</h3>
<% if @device.employee %>
    <div class="flex items-center gap-4">
        <div class="bg-shade rounded-full flex items-center justify-center text-lg font-bold border" style="block-size: 5rem; inline-size: 5rem;">
        <%= @device.employee.first_name.first %><%= @device.employee.last_name.first %>
        </div>
        <div>
        <div class="font-bold text-lg"><%= link_to @device.employee.full_name, @device.employee, class: "hover:underline" %></div>
        <div class="text-sm text-subtle"><%= @device.department.name %></div>
        </div>
    </div>
<% else %>
    <div class="flex items-center gap-4 opacity-50">
        <div class="bg-gray-200 rounded-full w-12 h-12"></div>
        <div>Unassigned</div>
    </div>
<% end %>
</div>