<div class=""
  data-controller="search-filter"
  data-action="click@window->search-filter#closeOnClickOutside">

  <%# Button to toggle the visibility of the filters %>
  <button type="button" class="btn btn--subtle mbe-4" data-action="search-filter#toggle">
    <span class="icon icon--search"></span>
    <span>Search & Filter</span>
  </button>

  <div class="card mbe-4 hide" data-search-filter-target="filters">
    <%= search_form_for @search, data: { turbo_frame: "devices_table", turbo_action: "advance" } do |f| %>
      <%# UPDATED GRID: Changed to grid-cols-6@lg to fit the new field %>
      <div class="grid grid-cols-1 grid-cols-2@md grid-cols-3@lg grid-cols-6@xl gap-4 items-end">
        
        <%# 1. Keyword Search %>
        <div class="col-span-1">
          <%= f.label :name_or_serial_number_or_asset_tag_cont, "Keyword", class: "block text-xs font-bold uppercase text-subtle mbe-1" %>
          <%= f.search_field :name_or_serial_number_or_asset_tag_cont, placeholder: "Name, Serial, or Tag", class: "input" %>
        </div>

        <%# 2. Branch Filter %>
        <div class="col-span-1">
          <%= f.label :department_branch_id_eq, "Branch", class: "block text-xs font-bold uppercase text-subtle mbe-1" %>
          <%= f.collection_select :department_branch_id_eq, Branch.order(:name), :id, :name, 
                { include_blank: "All Branches" }, 
                { class: "input cursor-pointer" } %>
        </div>

        <%# 3. IP Address Filter (NEW) %>
        <div class="col-span-1">
          <%= f.label :ip_address_address_string_cont, "IP Address", class: "block text-xs font-bold uppercase text-subtle mbe-1" %>
          <%= f.search_field :ip_address_address_string_cont, placeholder: "192.168...", class: "input" %>
        </div>

        <%# 4. Type Filter %>
        <div class="col-span-1">
          <%= f.label :device_type_eq, "Type", class: "block text-xs font-bold uppercase text-subtle mbe-1" %>
          <%= f.select :device_type_eq, Device.device_types.map { |k, v| [k.humanize, v] }, 
                { include_blank: "All Types" }, 
                { class: "input cursor-pointer" } %>
        </div>

        <%# 5. Status Filter %>
        <div class="col-span-1">
          <%= f.label :status_eq, "Status", class: "block text-xs font-bold uppercase text-subtle mbe-1" %>
          <%= f.select :status_eq, Device.statuses.map { |k, v| [k.humanize, v] }, 
                { include_blank: "All Statuses" }, 
                { class: "input cursor-pointer" } %>
        </div>

        <%# 6. Actions %>
        <div class="col-span-1 flex gap-2">
          <%= f.submit "Filter", class: "btn bg-orange-500 hover:bg-orange-600 i-full" %>
          <%= link_to "Clear", devices_path, class: "btn btn--primary", data: { turbo_frame: "devices_table", action: "click->search-filter#clear" } %>
        </div>
      </div>
    <% end %>
  </div>
</div>