<% content_for :title, "Asset Inventory" %>

<% content_for :page_header do %>
  <h4 class="font-semibold">Asset Inventory (<%= Device.count %>)</h4>
<% end %>

<% content_for :header_action_buttons do %>
    <%= link_to "New Device", new_device_path,
                  class: "btn bg-orange-400 text-white font-semibold rounded-md p-2 show@md",
                  data: { turbo_frame: "modal" } %>
<% end %>

<div class="absolute hide@md" style="bottom: 10rem; right: 1rem; z-index: 9999">
  <%= link_to new_device_path, class: "btn bg-orange-400 text-white font-semibold rounded-full p-5", data: { turbo_frame: "modal" } do %>
    <span class="icon icon--plus"></span>
  <% end %>
</div>

<div class="p-4 i-full">

  <%= render "search_form" %>

  <%= turbo_frame_tag :devices_table do %>
    
    <%# --- DESKTOP VIEW: Table (Visible on medium screens and up) --- %>
    <div class="show@md relative i-full overflow-x-auto border rounded-md bg-surface">
      <table class="table i-full text-left">
        <thead class="bg-shade font-semibold">
          <tr>
            <th class="p-4"><%= sort_link(@search, :name, "Device", class: "font-semibold") %></th>
            <th class="p-4"><%= sort_link(@search, :serial_number, "Details (Serial/Tag)", class: "font-semibold") %></th>
            <th class="p-4"><%= sort_link(@search, :ip_address_address, "Ip Address", class: "font-semibold") %></th>
            <th class="p-4"><%= sort_link(@search, :mac_address, class: "font-semibold") %></th>
            <th class="p-4"><%= sort_link(@search, :employee_full_name, "Assigned To", class: "font-semibold") %></th>
            <th class="p-4"><%= sort_link(@search, :status, class: "font-semibold") %></th>
            <th class="p-4"><%= sort_link(@search, :critical, "Critical?", class: "font-semibold") %></th>
            <th class="p-4 text-end">Actions</th>
          </tr>
        </thead>
        <tbody id="devices-table">
          <% if @devices.empty? %>
            <tr><td colspan="7" class="text-center p-8">No Results.</td></tr>
          <% else %>
            <%= render @devices %>
          <% end %>
        </tbody>
      </table>
    </div>

    <%# --- MOBILE VIEW: Cards (Hidden on medium screens and up) --- %>
    <div id="devices-cards" class="hide@md flex flex-col gap-4">
      <% if @devices.empty? %>
        <p class="text-subtle text-center p-8">No devices found.</p>
      <% else %>
        <%= render partial: "devices/device_card", collection: @devices, as: :device %>
      <% end %>
    </div>

    <%= render "shared/pagination", pagy: @pagy %>
  <% end %>
</div>