<div class="p-4 i-full">
  <div class="flex items-center justify-between mbe-6">
    <h1 class="text-3xl font-semibold">Asset Inventory</h1>
    <%= link_to "New Device", new_device_path, class: "btn bg-orange-400 text-white font-semibold rounded-md p-2", data: { turbo_frame: "new_device" } %>
  </div>

  <%= form_with url: devices_path, method: :get, class: "mbe-6 flex gap-2", data: { turbo_frame: "devices", turbo_action: "advance" } do |f| %>
    <%= f.text_field :query, placeholder: "Search Serial, Asset Tag, or Name...", class: "input border rounded p-2 flex-grow", value: params[:query] %>
    <%= f.submit "Search", class: "btn bg-gray-800 text-white rounded px-4" %>
  <% end %>

  <%= turbo_frame_tag "new_device" %>

  <%= turbo_frame_tag "devices" do %>
    <div class="show@md relative i-full overflow-x-auto border rounded-md bg-surface">
      <table class="table i-full text-left">
        <thead class="bg-shade text-subtle font-semibold border-b">
          <tr>
            <th class="p-4">Device</th>
            <th class="p-4">Details (Serial/Tag)</th>
            <th class="p-4">IP Address</th>
            <th class="p-4">Assigned To</th>
            <th class="p-4">Status</th>
            <th class="p-4 text-end">Actions</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-100">
          <%= render @devices %>
        </tbody>
      </table>
    </div>

    <div class="hide@md flex flex-col gap-4">
      <%= render partial: "devices/device_card", collection: @devices, as: :device %>
    </div>
  <% end %>
</div>