<% content_for :title, @ip_address.address %>

<% content_for :page_header do %>
  <h4 class="font-semibold"><%= @ip_address.address %></h4>
<% end %>

<% content_for :header_action_buttons do %>
    <%= link_to "Edit IP", edit_ip_address_path(@ip_address),
                  class: "btn bg-orange-400 text-white font-semibold rounded-md p-2 show@md",
                  data: { turbo_frame: "modal" } %>
<% end %>

<div class="absolute hide@md" style="bottom: 10rem; right: 1rem; z-index: 9999">
  <%= link_to edit_ip_address_path(@ip_address), class: "btn bg-orange-400 text-white font-semibold rounded-full p-5", data: { turbo_frame: "modal" } do %>
    <span class="icon icon--square-pen"></span>
  <% end %>
</div>

<div class="p-4 max-w-2xl mx-auto">
  <div class="mbe-6">
    <%= link_to ip_addresses_path, class: "btn btn--subtle btn--icon mbe-2 inline-flex" do %>
       <span class="icon icon--chevron-left"></span> Back to List
    <% end %>
  </div>

  <div id="details">
    <%= render "ip_addresses/details" %>
  </div>
</div>

<div class="m-4">
  <% 
     # Get the history for this IP
     ip_versions = @ip_address.versions.order(created_at: :desc).limit(20) 
  %>
  <%= render "shared/audit_log", records: ip_versions, parent: @ip_address %>
</div>