<%= form_with(model: department, html: { contents: true }) do |form| %>
  <%= render "shared/error_messages", object: department %>

  <div class="grid grid-cols-1 grid-cols-2@md gap-4">
    <div class="col-span-1">
      <%= form.label :name, class: "block font-medium mbe-1" %>
      <%= form.text_field :name, class: "input w-full p-2 border rounded" %>
    </div>
    <div class="col-span-1">
      <%= form.label :branch_id, class: "block font-medium mbe-1" %>
      <%= form.collection_select :branch_id, Branch.order(:name), :id, :name, { prompt: "Select Branch" }, { class: "input w-full p-2 border rounded" } %>
    </div>
  </div>

  <div class="mbs-4 flex gap-3 items-center">
    <%= form.submit class: "btn bg-orange-400 text-white font-semibold rounded px-4 py-2" %>
    <%= link_to "Cancel", departments_path, class: "text-subtle", data: { turbo_frame: "_top" } %>
  </div>
<% end %>